@model IEnumerable<Test.Models.Customer>

<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsertDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportExpDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) 
                        |*@
                </td>
            </tr>
        }

    </tbody>
</table>
